:javascript
    $posts = #{Oj.dump @posts}
- content_for :og_meta do
    %meta(name="description" content="#{@site['description']}")
    %meta(property="og:title" content="#{@site['name']}")
    %meta(property="og:type" content="website")
    %meta(property="og:description" content="#{@site['description']}")
    %meta(property="og:site_name" content="#{@site['name']}")
%div#main.cards
    %div#header
        %div#blog-info
            %span#blog-name= @site['name']
            %span#blog-description= @site['description']
        %div.container#menu
            - @site['links'].each do |link|
                %a.link#menu-link{href: link['href']}= link['text']

    %div#cards.container.app
        %div.card(v-for='post in posts' v-cloak)
            %a(:href='"/posts/" + post.id')
                %span.title {{ post.title }}
                %div.description {{ post.description }}

