%div#main
    %div#header__small
        %div.container
            %span#blog__name
                %a{href: '/'}= @site['name']
            %div#links
                - @site['links'].each do |link|
                    %a.link#menu_link{href: link['href']}= link['text']
    %div#post.container
        - unless @post.nil?
            %span#title= @post['title']
            %div#body
                %div#description= @post['description']
                = markdown @post['body']
        - else
            %span#title= "Post ##{@id} not found"
            %div#body
                Sorry about that.
                %a{href: '/'} Go to the main page.
