:javascript
    $post = #{Oj.dump @post}
- content_for :og_meta do
    %meta(name="description" content="#{@post['description']}")
    %meta(property="og:title" content="#{@post['title']}")
    %meta(property="og:type" content="article")
    %meta(property="og:description" content="#{@post['description']}")
    %meta(property="og:site_name" content="#{@site['name']}")
%div#main
    %div#header-small
        %div.container
            %span#blog-name
                %a(href='/')= @site['name']
            %div#links
                - @site['links'].each do |link|
                    %a.link#menu_link{href: link['href']}= link['text']
    %div#post.container.app(v-cloak)
        %span#title {{ post.title }}
        %div#body
            %div#description {{ post.description }}
            %div(v-html='post.body')
